*{margin: 0; padding: 0;}

.exemple{
    border: 1px solid black;
}
.header{
    font-size: 20px;
    text-align: center;
}

/* exemple fist-of-type and last-of-type */
    #block *{
        border: 1px solid black;
        display: inline-block;
        margin: 15px;
        padding: 5px;
        font-size: 14px;
    }

    /* find first element <p> in #block*/
    #block p:first-of-type{
        color: blue;
    }

    /* find last element <p> in #block*/
    #block p:last-of-type{
        color: red;
    }

    /* find first element <span> in #block*/
        #block span:last-of-type{
        color:blueviolet;
    }

    /* find last element <span> in #block*/
    #block span:first-of-type{
        color:aqua;
    }

/* exemple first-child */
    /* find first child */
    #block :first-child{
        background-color:beige;
    } 
    /* find last child */
    #block :last-child{
        background-color:burlywood;
    } 
    